@font-face {
  font-family: 'mes-rg';
  src: url(./fonts/mes-rg.ttf) format('ttf');
}

@font-face {
  font-family: 'mes-lt';
  src: url(./fonts/mes-lt.ttf) format('ttf');
}

a:hover {
  cursor: pointer;
}
